@font-face{
    font-family: openSans;
    src: url(fonts/OpenSans-Light.ttf);  
}
body{
    margin:0;
    height:100%;
    
}

h1{
    font-family: 'Exo', sans-serif;
    color:black;
    margin:0;
    padding:20px;
}
h2{
    font-family: 'Exo', sans-serif;
    font-size: 100px;
    padding-top: 100px;
    padding-bottom: 10px;
    width:initial;
    color:white;
    margin:0;
    
}
p{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    
}
#divider{
    width:100%;
    height:5px;
    background-color: #DB222A;
}
footer{
    background-color: #DB222A;
    height:100px;
}
#bgImg{
    /* The image used */
    background-image: url("images/background.jpg");

    /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(0px);

    /* Full height */
    height: inherit;
    width:105%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.03);
    position:absolute;
    z-index: -99;
    
    
    
}
nav{
    z-index: 99;
    /*background: rgb(219,34,42);
    background: linear-gradient(180deg, rgba(219,34,42,1) 69%, rgba(172,8,21,1) 100%);*/
}    
    

header{
    height:400px;
    
    
    /*
    background-image: url("images/background.jpg");
    background-position-x: 0;
    background-position-y: -450px;
    background-repeat: no-repeat;
    background-size:contain;
    background-size:100%;
    /*filter:blur(4px);*/

}
#wrap{
    background-color: green;
    height:100%;
    width:75%;
    margin:0 auto;
}
