@font-face{
    font-family: openSans;
    src: url(fonts/OpenSans-Light.ttf);  
}
body{
    margin:0;
    height:100%;
    
}

h1{
    font-family: 'Exo', sans-serif;
    color:black;
    margin:0;
    padding:20px;
    float:left;
}
h2{
    font-family: 'Exo', sans-serif;
    font-size: 100px;
    padding-top: 120px;
    padding-bottom: 10px;
    width:initial;
    color:white;
    margin:0;
    text-shadow: 2px 2px black;
    padding-left: 50px;
    
    
}
p{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    font-size:25px;
    padding:10px;
    
    
}
#divider{
    width:100%;
    height:10px;
    background-color: #DB222A;
    float:right;
    
}
ol{
    padding:10px;
    padding-left: 50px;
    margin: 0;
    font-style:italic;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
footer{
    background-color: #EDEDED;
    height:100%;
}
#bgImg{
    /* The image used */
    background-image: url("images/background.jpg");

    
    filter: blur(2px);
    -webkit-filter: blur(2px);

     
    height:inherit;
    width:100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position:absolute;
    z-index: -99;
    
    
    
}
nav{
    background-color: #EDEDED;
    z-index: 99;
    height:75px;
    position: fixed;
    width:100%;
    /*background: rgb(219,34,42);
    background: linear-gradient(180deg, rgba(219,34,42,1) 69%, rgba(172,8,21,1) 100%);*/
}
li{
    list-style-type: none;
}    
ul{
    font-size: 20px;
    float:left;
    font-family: 'Exo', sans-serif;
    margin:23px;
}
a:hover{
    color:#DB222A;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    height:400px;
    
    
    /*
    background-image: url("images/background.jpg");
    background-position-x: 0;
    background-position-y: -450px;
    background-repeat: no-repeat;
    background-size:contain;
    background-size:100%;
    /*filter:blur(4px);*/

}
#wrap{
    background-color:  #EDEDED;
    height:100%;
    width:60%;
    margin:0 auto;
}
#footerText{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
}
#menu{
    display:none;
}

@media screen and (max-width:1000px){
    
    
    
    ul{
        margin-left:5px;
        margin-right:5px;
        padding:0;
    }
    #wrap{
        width:90%;
    }

}
