/*{
    box-sizing: border-box;
}*/
body{
    background-color: white;
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#wrap{

    border-radius: 20px;
    width:90%;
    background-color: lightgrey;
    margin:0 auto;
    margin-top: 50px;
    padding-top: 40px;
}
nav{
    margin-top:10px;
    background-color: steelblue;
    
}
nav > a{
    color:white;
    padding:20px;
    padding-top:10px;
    padding-bottom:0px;
    
}
p{
    margin:0;
}

a{
    text-decoration: none;  

    
}
article{
    width:98%;
    margin:0 auto;
}

article>img{

    width:30%;
    margin-top:10px;
}
header{
    background-color: lightskyblue;
    position: fixed;
    top: 0;
    width: 100%;
    clear: both;
    height: 85px;
}
header>a{
    font-size: 50px;
    margin:20px;
    margin-top:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:steelblue;
    
}
footer{
    
    background-color: steelblue;
    color:white;
    border-radius: 0px 0px 25px 25px;
    clear:both;
}
h5{
    
    display:inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
}